# Archivos de Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Gradle
.gradle/
build/
local.properties

# Configuración de Android Studio
.cxx/
.externalNativeBuild/
captures/
outputs/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log
